{% extends 'SatoripopImagesBundle:Layout:layout.html.twig' %}

{% block body -%}
    {% spaceless %}
        <h1>{{ 'title.list'|trans({},'SatoripopImagesBundle') }}</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'entity.update_date'|trans({},'SatoripopImagesBundle') }}</th>
                <th>{{ 'entity.filesize'|trans({},'SatoripopImagesBundle') }}</th>
                <th>{{ 'entity.size'|trans({},'SatoripopImagesBundle') }}</th>
                <th>{{ 'entity.xiff'|trans({},'SatoripopImagesBundle') }}</th>
                <th>{{ 'entity.actions'|trans({},'SatoripopImagesBundle') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a data-toggle="lightbox" data-gallery="sp_images" data-title="{{ entity.path }} / {{ entity.width }}x{{ entity.height }} / {{ entity.fileSize|file_size }}" href="{{ entity|full_image }}"><img src="{{ entity|thumb('100x100') }}" class="img-thumbnail"/></a></td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.fileSize|file_size }}</td>
                    <td>{{ entity.width }}x{{ entity.height }}</td>
                    <td>{{ entity.xiff }}</td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <a class="btn btn-default" href="{{ path('image_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open" title="{{ 'action.show'|trans({},'SatoripopImagesBundle') }}"></span></a>
                            <a class="btn btn-default" href="{{ path('image_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil" title="{{ 'action.edit'|trans({},'SatoripopImagesBundle') }}"></span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary btn-xs" href="{{ path('image_new') }}">
            <span class="glyphicon glyphicon-plus-sign"></span> {{ 'title.add'|trans({},'SatoripopImagesBundle') }}
        </a>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body"><img src=""/></div>
                </div>
            </div>
        </div>
        <script>
            $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
        </script>
    {% endspaceless %}
{% endblock %}
