{% block form %}
    {% spaceless %}
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-body">
                {% if value and value.id %}
                    <img src="{{ value|thumb(thumb_size) }}" class="img-thumbnail"/>
                {% endif %}
                {% for child in form if child.vars.id != form.vars.id~"_submit" %}
                    {{ form_row(child) }}
                {% endfor %}
                <div class="clearfix"></div>
            </div>
            <div class="panel-footer">{{ form_rest(form) }}</div>
        </div>
        {{ form_end(form) }}
    {% endspaceless %}
{% endblock form %}


